<footer class="footer">
    <div class="footer-container">
      <div class="footer-top">
        <img src="Samudra1.png" alt="Samudra Technologies" class="footer-logo">
        <div class="contact-info">
          <p>📞 +91 6352359278</p>
          <p>📧 <a href="mailto:info&#64;samudratech.com">info&#64;samudratech.com</a></p>
        </div>
      </div>
  
      <hr class="divider">
  
      <div class="footer-links">
        <div class="footer-column">
          <h3>Software & Solution</h3>
          <ul>
            <li><a routerLink="/smart-milk-procurement">Smart Milk Procurement System</a></li>
            <li><a routerLink="/smart-dairy-management">Smart Dairy Management System</a></li>
            <li><a routerLink="/real-time-order">Real Time Order Management System</a></li>
            <li><a routerLink="/pos-software">Software Point of Sale</a></li>
            <li><a routerLink="/auto-milk-collection">Automatic Milk Collection System</a></li>
            <li><a routerLink="/dairy-erp">DAIRY ERP</a></li>
          </ul>
        </div>
        <div class="footer-column">
          <h3>Hardware & Solution</h3>
          <ul>
            <li><a routerLink="/milk-analyzer">Milk Analyzer</a></li>
            <li><a routerLink="/electronic-weight-machine">Electronic Weight Machine</a></li>
            <li><a routerLink="/pos-machine">Point of Sale Machine</a></li>
            <li><a routerLink="/auto-milk-collection">Automatic Milk Collection System</a></li>
          </ul>
        </div>
        <div class="footer-column">
          <h3>Service</h3>
          <ul>
            <li><a routerLink="/iot-development">IOT Development</a></li>
            <li><a routerLink="/mobile-apps">Mobile Application</a></li>
            <li><a routerLink="/web-development">Web Development</a></li>
          </ul>
        </div>
        <div class="footer-column">
          <h3>Quick Link</h3>
          <ul>
            <li><a routerLink="#">Mission and Vision</a></li>
            <li><a routerLink="/our-teams">Our Teams</a></li>
            <li><a routerLink="/contact-us">Contact Us</a></li>
            <li><a routerLink="/privacy-policy">Privacy Policy</a></li>
          </ul>
        </div>
      </div>
  
      <hr class="divider">
  
      <div class="footer-bottom">
        <p><img id="12" src="STECHTO.png" alt="Samudra Technologies" class="footer-logo" loading="lazy"> 2024 Stechto Pvt Ltd. | All Rights Reserved</p>
        <div class="social-icons">
            <a href="https://www.facebook.com/samudratech" target="_blank">
                <i class="fab fa-facebook"></i>
              </a>
              <a href="https://www.youtube.com/channel/UCbSztqlUr6YdvAIF813Me7Q" target="_blank">
                <i class="fab fa-youtube"></i>
              </a>
              <a href="https://www.linkedin.com/company/samudra-technology/" target="_blank">
                <i class="fab fa-linkedin"></i>
              </a>
        </div>
      </div>
    </div>
  </footer>
  