
<header class="header">
    <div class="container">
    
        <!-- Logo Section -->
        <div class="logo">
          <a routerLink="/" >
            <img src="Samudra1.png" alt="Company Logo" class="img-fluid">
          </a>
        </div>
  
        <!-- Navigation Section -->
        <div class="menu_right">
          <div class="menu_icon" [class.menu_icon_class]="menuiconvariable" (click)="toggleMenu()">
            <span></span>
            <span></span>
            <span></span>
          </div>
         <div class="menu" [class.menuclass]="menuvariable" >  
          <ul>
            <li><a  routerLink="/home" routerLinkActive="active" (click)="closeMenu()">Home</a></li>
            <li><a routerLink="/product" routerLinkActive="active" (click)="closeMenu()">product</a></li>
            <li><a routerLink="/about" routerLinkActive="active" (click)="closeMenu()">About</a></li>
            <li><a  routerLink="/Services" routerLinkActive="active" (click)="closeMenu()">Services</a></li>
            <li><a routerLink="/Contact" routerLinkActive="active" (click)="closeMenu()">Contact</a></li>
          </ul>
         </div>
        </div>

     
    </div>
  </header>
  
