


  <div class="about-container">
    <!-- Text Section -->
    <div class="ad-container">
      <div class="abouttext-header">
        <h1 class="abouttext1">ABOUT US</h1>
        <h2 class="abouttext2">Welcome To Samudra</h2>
      </div>
      <p class="ad-description">
        At Samudra Technologies, our mission is to meet the evolving needs of our clients by delivering creative, competitive, and high-quality software development services. We strive for excellence in our field to enhance the quality of life through technology. Our extensive knowledge of local cultures and markets sets us apart and forms the foundation of our ongoing growth. By leveraging our expertise, years of experience, and practical approach, we are dedicated to providing the best services and efficiency to our clients 
        <a routerLink="/about" fragment="about-section" class="read-more" style="color: blue;">Read More...</a>

    </p>
    </div>
  
    <!-- Video Section -->
    <div class="job-categories">
      <iframe 
        width="560" 
        height="315" 
        src="https://www.youtube.com/embed/271IK8ThXRs?si=tLv1LDhSGSIU-4rp" 
        title="YouTube video player" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        referrerpolicy="strict-origin-when-cross-origin" 
        allowfullscreen>
      </iframe>
    </div>
  </div>
  