<app-banner [bannerImage]="'RTOMS-Banner.jpg'" [logoImage]="'logo-rtoms.png'">
</app-banner>
<div class="faded show">
    <img src="RTMOS_4_mobile-01.jpg" alt="altText" class="rtoms-image">
</div>

<div class="closing-cta">
    <div class="cta-container">
        <!-- Left Side - Text -->
        <div class="cta-text" >

            <p class="cta-body">RTOMS, or Real Time Order Management System, allows users to place orders online
                seamlessly. RTOMS simplifies various user needs, such as managing orders in excel sheets, making calls
                for orders, obtaining approvals from other parties, shift-wise ordering, online reporting, crate
                management, reimbursement, and more.

                RTOMS is a one-stop solution for our users. By simply performing their assigned duties, users will find
                that it efficiently and effectively handles their daily tasks.
                n RTOMS, we utilize a layered architecture where each layer has specific responsibilities to achieve the
                desired operations. This multilevel hierarchy incorporates abstraction at each layer.
                RTOMS is an agile solution designed to support the growth of the dairy industry. It was developed with a
                focus on addressing the specific needs of dairy order management systems.</p>
        </div>

        <!-- Right Side - Image -->
        <div class="cta-image">
            <img alt="An icon of 3 graphs showing multiple data points" src="RTMOS1212.jpg" />
        </div>
    </div>
</div>



<app-btn [brochureLabel]="'Get Our Brochure'" [brochureUrl]="'RTOMS.pdf'" [brochureName]="'RTOMS.pdf'"
    [appDownloadLabel]="'Install App'"
    [appDownloadUrl]="'https://play.google.com/store/apps/details?id=io.ionic.rtoms'">
</app-btn>