<div>
    <a routerLink="/home">HOME</a><br><br>
     <a routerLink="/about">ABOUT</a>


</div>


<!-- <app-ifelsecompo></app-ifelsecompo>
<app-counter></app-counter>


<h1>hello</h1>
<h2>{{title}}</h2>
{{name}}

<h2>{{'hello'.toUpperCase()}}</h2>
<button (click)="hello()">Click Me</button>
<p>Result: {{ result }}</p>

<app-login></app-login>     
line 8 is reuseable beacuse multiple time they use.. -->
<!-- <app-login></app-login>     
<app-login></app-login>     

<app-signup></app-signup>
<app-signup></app-signup>

<button (click)="functioncall()">clickFor Function</button>
{{name}} -->
<router-outlet></router-outlet> 