/* Container to manage layout and hide overflow */
.container {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    overflow-x: hidden ;
  }
  
  /* Slider default padding */
  .slider {
    padding-top: 0;
  }
  
  /* Increase top padding for larger screens */
  @media (min-width: 768px) {

        /* For smaller screens, remove extra slider padding */
        .slider {
          padding-top: 40px;
          padding-bottom: 10px;
        }
        
        /* Reduce the margin between slides */
        .slide {
          margin-right: 3rem;
        }
        
        /* Adjust image height for a more compact view */
        .slide img {
          height: 80px;
        }
      }
      
  
  
  /* Horizontal slide track with gap and animation */
  .slide-track {
    display: flex;
    flex-direction: row;
    gap: 0; /* Tailwind's gap-[7rem] equivalent */
    animation: scroll 30s linear infinite;
  }

  .slide-track:hover {
    animation-play-state: paused;
  }
  
  /* Each slide maintains its size */
  .slide {
    flex: 0 0 auto;
    margin-right: 3rem;
  }
  
  /* Responsive images */
  .slide img {
    max-width: 100%;
    height: 100px;
    display: block;
    transition: transform 0.3 ease;
  }
  .slide:hover img {
    transform: scale(1.3);
  }

  /* Keyframes for continuous scrolling animation */
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  