
        

<div class="si">
        <div class="maindiv1">
           
           
                    <img src="background1.png" alt="Main Image" class="backimg" />
                    <div class="content-container">
                        <span class="text">One Stop Dairy Supply Chain Management via IoT</span>


                    <img src="Homepage-Banner-01-colored.png"  alt="Footer Image" class="bottom-image">
                </div>
               
       
        </div>
        <div class="ww">
                        <app-logo-slider></app-logo-slider>
         </div>

       
        <div class="about-container">
         
          <div class="job-ad-container">
            <!-- Job Categories Section -->
            
        
            <!-- Google Ads Section -->
           
            <app-home-about></app-home-about>   
     
          </div>
         
</div>
<app-home-services></app-home-services>
<app-home-product></app-home-product>
<app-homeclientter></app-homeclientter>
<app-home-clients></app-home-clients>
<app-home-contact></app-home-contact>
